!!!
%html
  %head
    %title Honcho
    = stylesheet_link_tag    "honcho/application", media: "all"
    = javascript_include_tag "honcho/application"
    = csrf_meta_tags
  %body
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            = link_to "#{application_title}", "#"
      .top-bar-section
        %ul.right
          - nav_bar_options.each do |nav|
            %li.divider          
            %li
              = link_to "#{nav}" , "#"         
    .row
      .small-8.columns
        = yield #main_content
      .small-4.columns
        = #side_bar

    = javascript_include_tag "application"