.row
  .small-12
    = form_tag eval("honcho.#{klass.name.downcase.pluralize}_path"), method: :get do
      - klass.table_attributes.each do |attribute|
        .row
          = text_field_tag "search[#{attribute}]", params[:search] && params[:search][attribute], placeholder: "Enter #{attribute} to search for"
      = submit_tag "Search", name: nil, class: 'button small round'