.row
  .large-5.columns
    Search #{klass}
    %br
    = render 'search'

  .large-7.columns
    %h1
      = "Listing #{resource_name}"
    %table
      %thead
        %tr
          %th ID
          - klass.table_attributes.each do |attribute|
            %th
              = attribute.humanize
          %th Show #{klass.name}
          %th Edit #{klass.name}
          %th Destroy #{klass.name}

      %tbody
        - @resources.each do |resource|
          %tr
            %td=resource.id
            - resource.object_attributes.each do |k,v|
              %td= v
            %td= link_to 'Show', honcho.send("#{singularize_resource}_path",resource.id), class: 'button small round'
            %td= link_to 'Edit', resource_url("edit", resource), class: 'button small success round'
            %td= link_to 'Destroy', honcho.send("#{singularize_resource}_path", resource.id), data: { method: :delete, confirm: 'Are you sure?', alert: { class: 'alert-box alert round' } }, class: 'button small alert round'
    %br

    = paginate @resources

    = link_to "Create New #{resource_name}", honcho.send("new_#{singularize_resource}_path"), class: 'button'
