.ui.stackable.grid
  .twelve.wide.column
    .ui.two.column.grid
      .column
        %h2= "Listing #{resource_name}"
      .right.aligned.middle.aligned.column
        = link_to "Create New #{resource_name}", honcho.send("new_#{singularize_resource}_path"), class: 'ui primary button'

    .ui.two.column.grid
      .column
        Download:
        - download_links.each do |format|
          = link_to format.upcase, honcho.send("#{resource_name.downcase}_path", format: format.downcase)

      .right.aligned.column
        = paginate @resources

    %table.ui.basic.fixed.table.segment
      %thead
        %tr
          %th
            .ui.toggle.checkbox
              = check_box_tag :select_all, true, false, id: 'selectAll'
              = label_tag ''
          %th= sortable 'id'
          - klass.table_attributes.each do |attribute|
            %th
              = sortable attribute
          %th Actions

      %tbody
        - @resources.each do |resource|
          %tr
            %td
              .ui.toggle.checkbox
                = check_box_tag resource.id, false
                = label_tag ''
            - resource.object_attributes.each do |_k, v|
              %td= v
            %td
              .ui.three.tiny.buttons
                = link_to honcho.send("#{singularize_resource}_path", resource.id), class: 'ui green icon button', title: 'Show' do
                  %i.info.icon
                = link_to resource_url('edit', resource), class: 'ui yellow icon button', title: 'Edit' do
                  %i.edit.icon
                = link_to honcho.send("#{singularize_resource}_path", resource.id), data: { method: :delete, confirm: 'Are you sure?', alert: { class: 'alert-box alert round' } }, class: 'ui red icon button', title: 'Delete' do
                  %i.trash.outline.icon

    .ui.one.column.grid
      .right.aligned.column
        = paginate @resources

  .four.wide.column
    = render 'search'
