%table.ui.stackable.definition.padded.table
  - @resource.attributes.each do |label, value|
    %tr
      %td #{label.humanize}:
      %td #{value}
%div.ui.buttons
  = link_to resource_url("edit", @resource), class: 'ui labeled icon basic button' do
    Edit    
    %i.edit.icon
  = link_to honcho.send("#{resource_name.downcase}_path"), class: 'ui labeled icon basic button' do
    Back
    %i.left.arrow.icon

