%p#notice= notice
%p
  %strong Title:
  = @resource.title
%p
  %strong Body:
  = @resource.body
= link_to 'Edit', resource_url("edit", @resource)
|
= link_to 'Back', honcho.send("#{resource_name.downcase}_path")
