%ul.pricing-table
  - @resource.attributes.each do |label, value|
    - if label == 'id'
      %li.title
        %strong #{label.humanize}: #{value}
    - else
      %li.bullet-item #{label.humanize}: #{value}
  %li.cta-button
    = link_to 'Edit', resource_url("edit", @resource), class: :button
    = link_to 'Back', honcho.send("#{resource_name.downcase}_path"), class: :button


