%p#notice= notice
- @resource.attributes.each do |label, value|
  %p
    %strong
      = "#{label.humanize}:"
    = value
= link_to 'Edit', resource_url("edit", @resource)
|
= link_to 'Back', honcho.send("#{resource_name.downcase}_path")
